a {
  color: #000;
  text-decoration: none;
  :hover {
    color: yellow;
  }
}

.category-card {
  width: 344px;
  position: relative;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 26px;
}

img {
  max-width: 344px;
  border-radius: 5px;
  border-top-right-radius: 5px;
}

.card-title {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(202, 252, 152, 0.65);
  padding: 1rem;
  height: 3.5em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
